<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">NewsScraper:</a>
    <img class="img" src="https://cdn.freebiesupply.com/logos/large/2x/yahoo-icon-logo-png-transparent.png">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
            <a class="nav-link" href="/">Home</a>
            <button class="btn btn-primary scrape">SCRAPE NEW ARTICLES!</button>
            <a>&nbsp</a>
            <button class="btn btn-secondary unscrape">CLEAR ARTICLES!</button>
        </div>
    </div>
</nav>